#hamburger.open span:nth-child(1) {
      transform: rotate(45deg) translateY(6px);
    }
    #hamburger.open span:nth-child(2) {
      opacity: 0;
    }
    #hamburger.open span:nth-child(3) {
      transform: rotate(-45deg) translateY(-6px);
    }